<launch>
  <!-- enable/disable gui at will, the rviz listens to the simulation -->
    <!-- <param name="robot_description" command="$(find xacro)/xacro.py $(find ur5_bringup)/model/nano17.urdf.xacro"/> -->
		<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur5_bringup)/urdf/ur3_robot.urdf.xacro' " />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <param name="publish_frequency" value="100"/>
  <node name="robot_tf_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- EXAMPLE FOR NANO17 -->
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model nano17"  respawn="false" output="screen" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="worlds/empty.world"/>
      <arg name="paused" value="false"/>
      <arg name="gui" value="true"/>
     
    </include>
  
  <node name="ft_sensor_rviz" pkg="rviz" type="rviz" respawn="false"  output="screen"/>

</launch>